
/**
 HOJA DE ESTILOS PARA MÓVILES (max-width: 480px)
 - DISPOSICIÓN
 - Ajustes de tipografías para móviles
 */

 body {
  font-size: 18px;

  footer {
    ul {
      li:last-child {
        padding-bottom: 50px;
      }
    }
  }
 }