
/**
 HOJA DE ESTILOS PARA ESCRITORIO (min-width: 481px)
 - DISPOSICIÓN
 */

 body {
  padding: 10px;

  header {
    menu {
      padding: 0 10px;
      li {
        display: inline-block;
        padding: 10px;
      }
    }
  }

  main {
    margin: 20px 0 0;
  }

  form {
    display: flex;
    margin: 10px auto 0;
    width: 80%;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    align-items: stretch;

    fieldset {
      padding: 10px;
      margin-bottom: 20px;
      width: calc(50% - 30px);

      input:not([type="checkbox"]):not([type="radio"]):not(input[type="number"]),
      select,
      textarea {
        display: block;
        width: 100%;
        box-sizing: border-box;
      }

      &.edad {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
      }

      &.checks {
        display: flex;
        flex-direction: column;
      }
    }

    .botones {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      column-gap: 20px;
    }

    input,
    textarea {
      padding: 5px 10px;
    }
  }

  table {
    margin: 0 auto;
    width: 80%;
    tbody {
      tr {
        td {
          padding: 5px;
        }
        td:first-child {
          width: 90px;
        }
      }
    }
  }

  footer {
    margin: 20px 0 0;
    ul {
      li:last-child {
        padding-bottom: 100px;
      }
    }
  }

  &#inicio {
    display: flex;
    flex-wrap: wrap;

    header {
      width: 100%;
    }
    main {
      width: 80%;
    }
    aside  {
      width: 20%;
    }
    footer {
      width: 100%;
    }
  }
 }